.advantages_section {
  display: -ms-grid;
  display: grid;
  -ms-flex-align: start;
      align-items: start;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
}
.advantages_section_numeric {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
}
.advantages_section_card-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}
.advantages_section_card {
  margin-top: 50px;
  max-width: 864px;
  width: 100%;
}
.advantages_section_card_content-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}
.advantages_section_card_content-two > .advantages_section_card_content_item {
  /*height: 241px;*/
}
.advantages_section_card_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}
.advantages_section_card_content_item {
  margin-top: 32px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  max-width: 288px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  background: var(--main_color-white);
  padding: 24px;
}
.advantages_section_card_content_item:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right: 1px solid #E6E7E9;
}
.advantages_section_card_content_item:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-left: 1px solid #E6E7E9;
}
.advantages_section_card_content_item-title {
  margin-bottom: 77px;
}
.advantages_section_card_content_item > div > span {
  font-size: 68px;
  font-weight: 500;
  position: relative;
  top: 0;
}
.advantages_section_card_content_item-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.advantages_section_card-title-text {
  max-width: 271px;
  width: 100%;
}
.advantages-title-section {
  /*font-size: 16px;*/
  font-weight: 400;
  margin-top: -1px;
  margin-left: -4px;
  text-transform: uppercase;
  line-height: 22px;
}
.advantages_section_card_content_item-text-pref {
  font-size: 27px;
  position: relative;
  left: -6px;
  top: -9px;
}
.cfi_section > h1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  letter-spacing: -2px;
}
.cfi_section_title,
.cfi_section_subtitle-text {
  text-transform: uppercase;
}
.cfi_section_subtitle {
  margin-top: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.cfi_section_subtitle > .animate_gif {
  /*height: 90px;*/
  height: 6em;
  max-width: 415px;
  width: 100%;
  margin-right: 33px;
}
.cfi_section-img {
  overflow: hidden;
}
.cfi_section-img > img {
  max-width: 1312px;
  min-width: 591px;
  width: 100%;
  position: relative;
  /*left: -3px;*/
}
.cfi_section-ps {
  position: relative;
  left: -13px;
  margin-top: 15px;
  margin-bottom: 64px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-left: -5.1em;
  max-width: 81em;
  width: 100%;
  line-height: 24px;
  /*font-size: 1.6em;*/
  font-size: 16px;
  font-weight: 400;
}
.cfi_section_title {
  position: relative;
}
.client_section {
  padding: 120px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.client_section_content {
  max-width: 864px;
  width: 100%;
}
.client_section_content_flex {
  display: -ms-grid;
  display: grid;
  -ms-flex-align: center;
      align-items: center;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 22px;
}
.client-cart {
  -ms-grid-column: span 2;
      grid-column: span 2;
}
/* Если число равно 3, выбираем последние два элемента */
.client-cart:last-child,
.client-cart:nth-last-child(2) {
  -ms-grid-column: span 3;
      grid-column: span 3;
}
.client_section_content_flex:last-child > .client-cart:last-child {
  margin-right: 0;
}
.client_section_content_flex-two-col {
  -ms-grid-column: span 3;
      grid-column: span 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
}
.client_section_content_flex-one-col {
  -ms-grid-column: span 2;
      grid-column: span 2;
}
.footer {
  padding: 120px 0;
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-flex-align: start;
      align-items: start;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
}
.footer_numeric {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 86%;
}
.footer:before {
  content: '';
  display: block;
  position: absolute;
  background-size: contain;
  background: url("/assets/img/footer1.png") no-repeat center center;
  width: 472px;
  height: 920px;
  top: 47px;
  left: calc(29%);
  z-index: -1;
}
.footer:after {
  content: '';
  display: block;
  position: absolute;
  background-size: contain;
  background: url("/assets/img/footer2.png") no-repeat center center;
  width: 261px;
  height: 222px;
  right: 17%;
  top: 45px;
  z-index: -1;
}
.footer_wrapper_content {
  max-width: 864px;
  width: 100%;
  background: var(--main_color-white);
  padding: 56px 56px 50px 56px;
  border-radius: 16px;
}
.footer_wrapper_content_subtitle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 271px auto;
      grid-template-columns: 271px auto;
  -ms-flex-align: center;
      align-items: center;
}
.footer_wrapper_content_ul_li {
  display: -ms-flexbox;
  display: flex;
}
.footer_wrapper_content_ul_li-img {
  margin-right: 7px;
}
.footer_wrapper_content_page_up {
  margin-top: 83px;
}
.footer_wrapper_content_feedback {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-left: 50px;
}
.footer_wrapper_content_feedback_input > input {
  outline: none;
  padding: 12px 10px;
  border: none;
  width: 100%;
  color: #8C9399;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid var(--main_color-black);
}
.footer_wrapper_content_feedback_input > input:focus {
  border-bottom: 1px solid #339DFF
;
}
.footer_wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
}
.footer_wrapper_content_feedback_wrapper {
  margin-top: 16px;
  position: relative;
  margin-left: -5px;
  left: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.footer_wrapper_content_feedback_wrapper > label {
  margin-right: 8px;
}
.footer_wrapper_content_feedback_wrapper p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}
.footer_wrapper_content_feedback_wrapper a {
  text-decoration: none;
  font-weight: 500;
}
.footer_wrapper_content_feedback_wrapper > label > input {
  width: 20px;
  height: 24px;
}
.footer_develop {
  background: var(--main_color-white);
  border-radius: 16px;
  padding: 16px 32px;
}
.footer_develop_wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.footer_develop_wrapper_policy a,
.footer_develop_wrapper_rnd {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  color: var(--main_color-black);
}
.footer_develop_wrapper_policy a {
  border-bottom: 1px solid var(--main_color-black);
}
.footer_develop_wrapper_policy,
.footer_develop_wrapper_rnd {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.footer_develop_wrapper_logoText {
  font-size: 13px;
}
.footer_develop_wrapper_policy_cookie {
  margin-left: 24px;
}
.footer_develop_wrapper_rnd-text {
  margin-right: 8px;
}
.footer_wrapper_content_line {
  position: relative;
}
.footer_wrapper_content_line:before {
  content: '';
  display: block;
  background: url("/assets/icon/lineFooter.png") no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 10px;
  right: 0;
  position: absolute;
  bottom: -19px;
}
.header {
  display: -ms-grid;
  display: grid;
  -ms-flex-align: center;
      align-items: center;
  -ms-grid-columns: 85px auto auto;
      grid-template-columns: 85px auto auto;
  height: 72px;
  padding: 12px 0 20px 0;
  border-bottom: 2px solid var(--main_color-black);
}
.header_nav_burger {
  display: none;
  width: 40px;
  height: 40px;
  padding: 14px 11px;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.header_nav_burger_line-1,
.header_nav_burger_line-2,
.header_nav_burger_line-3 {
  width: 100%;
  height: 1px;
  border: 1px solid #000F1D;
}
.header_logo {
  position: relative;
  top: 3px;
  left: -3px;
}
.header_nav {
  position: relative;
  font-size: 1.6em;
  margin-left: 46px;
}
.header_nav:before,
.header_nav:after {
  content: '';
  position: absolute;
  display: block;
  border: 1px solid var(--main_color-black);
  width: 25px;
  transform: rotate(-45deg);
  bottom: -21px;
}
.header_nav:before {
  left: -45px;
}
.header_nav:after {
  right: -15px;
}
.header_nav > div > ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  top: 1px;
  left: 1px;
}
.header_nav > div > ul > li {
  /*margin-left: 32px;*/
  margin-left: 2em;
}
.header_nav > div > ul > li:first-child {
  margin-left: 0;
}
.header_nav > div > ul > li > a {
  color: var(--main_color-black);
  text-decoration: none;
}
.header_platform,
.header_nav_platform {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 165px 207px;
      grid-template-columns: 165px 207px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: end;
  column-gap: 19px;
  /*column-gap: 1.5em;*/
}
.header_platform > div > a,
.header_nav_platform > div > a {
  display: block;
  text-decoration: none;
}
.header_platform_addP {
  position: relative;
  left: -3px;
}
.header_nav_platform {
  display: none;
}
.howWorks_section {
  padding-top: 120px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.howWorks_section_content {
  max-width: 864px;
  width: 100%;
}
.howWorks_section_content_slide {
  display: -ms-flexbox;
  display: grid;
  grid-template-columns: max-content auto;
  background: transparent;
}
.howWorks_section_content_slide > p {
  text-align: left;
  margin-left: 32px;
  line-height: 24px;
}
.howWorks_section_content_slide > img {
  max-width: 527px;
}
.howWorks_section_content_slide_info {
  text-align: left;
  background: var(--main_color-white);
  padding: 24px;
  border-radius: 16px;
  font-size: 13px;
  line-height: 20px;
}
.howWorks_section_content_slide_info span {
  font-weight: 600;
}
.howWorks_section_content_slide_info > ul {
  position: relative;
  left: 15px;
}
.howWorks_section_content_slide span {
  position: relative;
}
.product_section {
  padding: 120px 0;
  display: -ms-grid;
  display: grid;
  -ms-flex-align: start;
      align-items: start;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
}
.product_section_numeric {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
}
.product_section_content {
  max-width: 864px;
  width: 100%;
}
.product_section-content_title-line {
  position: relative;
}
.product_section-content_title-line:before {
  content: '';
  display: block;
  background: url("/assets/icon/productTitle-line.png") no-repeat center center;
  width: 100%;
  height: 10px;
  right: 0;
  position: absolute;
}
.product_section_content_item-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}
.product_section_content_item-title-text {
  max-width: 257px;
  width: 100%;
}
.product_section_content_item_content_noCard {
  margin-top: 32px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 348px  auto;
      grid-template-columns: 348px  auto;
  -ms-flex-align: start;
      align-items: start;
}
.product_section_content_item_content {
  margin-top: 34px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.product_section_content_item_content_title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 240px;
  margin-right: 54px;
  text-transform: uppercase;
}
.product_section_content_item_content_title > .little-text {
  line-height: 22px;
  position: relative;
  left: -4px;
}
.product_section_content_item_content_title-text {
  font-size: 68px;
  font-weight: 500;
  margin-bottom: -10px;
}
.product_section_content_item_content ul,
.product_section_content_item_content_noCard ul {
  line-height: 24px;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  background: transparent;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-fraction {
  right: 26px;
  width: auto;
  left: auto;
}
.swiper-button-next,
.swiper-button-prev {
  top: auto;
  margin-top: -30px;
  right: 0;
}
.tarif_section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.tarif_section_content {
  max-width: 864px;
  width: 100%;
}
.tarif_section_content_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto;
      grid-template-columns: max-content auto;
  -ms-flex-align: center;
      align-items: center;
}
.tarif_section_content_item_title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 271px auto;
      grid-template-columns: 271px auto;
  -ms-flex-align: center;
      align-items: center;
}
.tarif_section_content_item_wrapper_item {
  max-width: 252px;
  width: 100%;
  background: var(--main_color-white);
  border-radius: 16px;
  padding: 24px 0;
}
.tarif_section_content_item_wrapper_item-title {
  margin-bottom: 8px;
}
.tarif_section_content_item_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (252px)[2];
      grid-template-columns: repeat(2, 252px);
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.tarif_section_content_item_wrapper_item-price {
  font-size: 36px;
  font-weight: 700;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 24px;
}
.tarif_section_content_item_wrapper_item-price_pref {
  font-size: 13px;
  font-weight: 400;
  color: #404B56;
}
.tarif_section_content_item_wrapper_item-price_pref-R {
  position: relative;
  top: -8px;
}
.tarif_section_content_item_wrapper_item-list {
  margin-top: 17px;
}
.tarif_section_content_item_wrapper_item-list_li {
  position: relative;
  margin-left: 48px;
  margin-top: 17px;
}
.tarif_section_content_item_wrapper_item-list_li:before {
  content: '';
  position: absolute;
  display: block;
  width: 14px;
  height: 11px;
  top: 50%;
  left: -23px;
  transform: translateY(-50%);
  background: url("/assets/icon/good.png") no-repeat center center;
}
.tarif_section_content_item_wrapper_item-padding {
  padding: 0 14px;
}
.tarif_section_content_item_wrapper_hr {
  width: 100%;
  height: 1px;
  border: 1px solid #E6E7E9;
  padding: 0 10px;
}
.tarif_section_content_item_wrapper_item-list_li-gold {
  margin-left: 28px;
}
.tarif_section_content_item_wrapper_item-position {
  margin-left: 29px;
  padding: 0;
}
.why_cfi {
  display: -ms-grid;
  display: grid;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
}
.why_cfi_content {
  max-width: 864px;
  width: 100%;
}
.why_cfi_content_table-textLeft {
  text-align: left;
}
.why_cfi_content_table-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: -9px;
}
.why_cfi_content_table_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 284px auto auto;
      grid-template-columns: 284px auto auto;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.why_cfi_numeric {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column;
}
.why_cfi_content_table {
  margin-left: -3px;
  margin-top: -4px;
}
.why_cfi_content_table-text-line {
  position: relative;
  left: 4px;
  top: -4px;
  display: block;
  width: 38px;
  height: 1px;
  transform: rotate(-62deg);
  border: 1px solid #000F1D;
  margin-right: 21px;
}
@font-face {
  font-family: 'MyInter';
  src: url(../fonts/Inte.ttf);
}
#animate_figure {
  top: 0;
  position: fixed;
  z-index: -1;
  max-width: 1440px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
.animate_figure-white {
  background: url(/assets/icon/cfiS3.png) no-repeat center;
  display: block;
  position: absolute;
  width: 97px;
  height: 110px;
  z-index: -1;
  top: 5%;
  left: 4%;
}
.animate_figure-blue {
  background: url(/assets/icon/cfiS2.png) no-repeat center;
  display: block;
  position: absolute;
  width: 153px;
  height: 130px;
  top: 14%;
  left: 74%;
  z-index: -1;
}
.animate_figure-whiteBig {
  position: absolute;
  display: block;
  background: url(/assets/icon/cfiS1.png) no-repeat center;
  width: 221px;
  height: 416px;
  top: 44%;
  left: 36%;
  z-index: -1;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
[data-animate] {
  opacity: 0;
  transform: scale(0.5);
}
[data-animate].visible {
  opacity: 1;
  transform: scale(1);
  animation: zoomIn 0.6s ease-in-out;
}
@keyframes animate0-white {
  to {
    top: 5%;
    left: 4%;
  }
  from {
    top: 36%;
    left: 95%;
  }
}
@keyframes animate0-whiteBig {
  to {
    top: 44%;
    left: 36%;
  }
  from {
    top: -7%;
    left: 18%;
  }
}
@keyframes animate0-blue {
  to {
    top: 14%;
    left: 74%;
  }
  from {
    top: 82%;
    left: 23%;
  }
}
@keyframes animate1-white {
  0% {
    top: 5%;
    left: 4%;
  }
  50% {
    top: 45%;
    left: 70%;
  }
  100% {
    top: 36%;
    left: 95%;
  }
}
@keyframes animate1-whiteBig {
  0% {
    top: 44%;
    left: 36%;
  }
  50% {
    top: 20%;
    left: 22%;
  }
  100% {
    top: -7%;
    left: 18%;
  }
}
@keyframes animate1-blue {
  to {
    top: 82%;
    left: 23%;
  }
}
@keyframes animate2-white {
  0% {
    top: 36%;
    left: 95%;
  }
  20% {
    top: 10%;
    left: 60%;
  }
  50% {
    top: -13%;
    left: 51%;
  }
  100% {
    left: 0;
    top: -100%;
  }
}
@keyframes animate2-whiteBig {
  0% {
    top: -7%;
    left: 18%;
  }
  20% {
    top: -10%;
    left: 30%;
  }
  50% {
    top: 35%;
    left: 55%;
  }
  100% {
    top: 30%;
    left: 2000%;
  }
}
@keyframes animate2-blue {
  0% {
    display: none;
  }
  100% {
    display: none;
  }
}
@keyframes animate3-white {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 40%;
    left: 65%;
  }
  100% {
    top: 20%;
    left: 95%;
  }
}
@keyframes animate3-whiteBig {
  0% {
    top: 40%;
    left: 100%;
  }
  50% {
    top: 35%;
    left: 45%;
  }
  100% {
    top: 30%;
    left: 18%;
  }
}
@keyframes animate3-blue {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 40%;
    left: 65%;
  }
  100% {
    top: 90%;
    left: 92%;
  }
}
@keyframes animate4-white {
  0% {
    top: 20%;
    left: 95%;
  }
  50% {
    top: 15%;
    left: 50%;
  }
  70% {
    top: 65%;
    left: 21%;
  }
  100% {
    top: 80%;
    left: 25%;
  }
}
@keyframes animate4-whiteBig {
  0% {
    top: 30%;
    left: 20%;
  }
  50% {
    top: 45%;
    left: 80%;
  }
  100% {
    top: 20%;
    left: 92%;
  }
}
@keyframes animate4-blue {
  0% {
    top: 90%;
    left: 92%;
  }
  50% {
    top: 47%;
    left: 51%;
  }
  100% {
    top: 37%;
    left: 21%;
  }
}
@keyframes animate5-white {
  0% {
    top: 80%;
    left: 25%;
  }
  50% {
    top: 61%;
    left: 3%;
  }
  90% {
    top: 49%;
    left: -7%;
  }
  100% {
    top: 49%;
    left: -7%;
    display: none;
  }
}
@keyframes animate5-whiteBig {
  0% {
    top: 20%;
    left: 92%;
  }
  50% {
    top: 47%;
    left: 67%;
  }
  90% {
    top: 100%;
    left: 74%;
  }
  100% {
    top: 100%;
    left: 74%;
    display: none;
  }
}
@keyframes animate5-blue {
  0% {
    top: 37%;
    left: 21%;
  }
  20% {
    top: 22%;
    left: 42%;
  }
  50% {
    top: 30%;
    left: 86%;
  }
  90% {
    top: 39%;
    left: 100%;
  }
  100% {
    top: 39%;
    left: 100%;
    display: none;
  }
}
.animate_0 > .animate_figure-white {
  animation: 1.3s animate0-white cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_0 > .animate_figure-blue {
  animation: 1.3s animate0-blue cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_0 > .animate_figure-whiteBig {
  animation: 1.3s animate0-whiteBig cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_1 > .animate_figure-white {
  animation: 1.3s animate1-white cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_1 > .animate_figure-blue {
  animation: 1.3s ease-in animate1-blue forwards;
}
.animate_1 > .animate_figure-whiteBig {
  animation: 1.3s animate1-whiteBig cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_2 > .animate_figure-white {
  animation: 1.3s animate2-white cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_2 > .animate_figure-whiteBig {
  animation: 1.3s animate2-whiteBig cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_2 > .animate_figure-blue {
  animation: 1.3s animate2-blue cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_3 > .animate_figure-white {
  animation: 1.3s animate3-white cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_3 > .animate_figure-whiteBig {
  animation: 1.3s animate3-whiteBig cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_3 > .animate_figure-blue {
  animation: 1.3s animate3-blue cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_4 > .animate_figure-white {
  animation: 1.3s animate4-white cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_4 > .animate_figure-whiteBig {
  animation: 1.3s animate4-whiteBig cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_4 > .animate_figure-blue {
  animation: 1.3s animate4-blue cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_5 > .animate_figure-white {
  animation: 1.3s animate5-white cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_5 > .animate_figure-whiteBig {
  animation: 1.3s animate5-whiteBig cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_5 > .animate_figure-blue {
  animation: 1.3s animate5-blue cubic-bezier(0, 0, 1, 0.99) forwards;
}
.animate_gif-1,
.animate_gif-2,
.animate_gif-3,
.animate_gif-4 {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  transition: .3s linear;
  opacity: 0;
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(415px);
    opacity: 1;
  }
  90% {
    transform: translateX(415px);
    opacity: 1;
  }
  95% {
    transform: translateX(415px);
    opacity: 1;
  }
  100% {
    transform: translateX(415px);
    opacity: 0;
  }
}
@keyframes trail {
  0% {
    opacity: 0.5;
    width: 0;
  }
  50% {
    opacity: 0.5;
    width: 140px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
.animate_gif-1 {
  background: #2b84f4;
  top: 5px;
  animation: moveRight 3s ease-out infinite;
}
.animate_gif-1:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  background: linear-gradient(90deg, #eeeef1 6%, #bddbfa 29%, #0085ff 66%, #0085ff 100%);
  filter: blur(1px);
  transform: translate(-96%, -50%);
  animation: trail 3s linear infinite;
  z-index: -1;
  width: 0;
  height: 12px;
}
.animate_gif-2 {
  background: #E6E7E9;
  animation: moveRight 3s ease-out infinite;
  animation-delay: .8s ;
  top: 17px;
}
.animate_gif-2:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: linear-gradient(90deg, #f4f3f6 9%, #e6e7e9 63%, #e6e7e9 100%);
  opacity: 0;
  filter: blur(1px);
  transform: translate(-96%, -50%);
  animation: trail 3s linear infinite;
  animation-delay: .8s ;
  z-index: -1;
  width: 0;
  height: 12px;
}
.animate_gif-3 {
  background: #E6E7E9;
  animation: moveRight 3s ease-out infinite;
  animation-delay: 1.4s ;
  top: 26px;
}
.animate_gif-3:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: linear-gradient(90deg, #f4f3f6 9%, #e6e7e9 63%, #e6e7e9 100%);
  opacity: 0;
  filter: blur(1px);
  transform: translate(-96%, -50%);
  animation: trail 3s linear infinite;
  animation-delay: 1.4s ;
  z-index: -1;
  width: 0;
  height: 12px;
}
.animate_gif-4 {
  background: #E6E7E9;
  animation: moveRight 3s ease-out infinite;
  animation-delay: 2.2s ;
  top: 37px;
}
.animate_gif-4:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: linear-gradient(90deg, #f4f3f6 9%, #e6e7e9 63%, #e6e7e9 100%);
  opacity: 0;
  filter: blur(1px);
  transform: translate(-96%, -50%);
  animation: trail 3s linear infinite;
  animation-delay: 2.2s ;
  z-index: -1;
  width: 0;
  height: 12px;
}
.header_fullScreen_menu {
  display: block !important;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--main_color-white);
}
.header_fullScreen_menu_head-exit {
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  float: right;
  margin-right: 20px;
  margin-top: 12px;
  width: 40px;
  height: 40px;
  padding: 14px;
  position: relative;
}
.header_fullScreen_menu_head-exit:before,
.header_fullScreen_menu_head-exit:after {
  content: '';
  width: 12px;
  border: 1px solid #000F1D;
  position: absolute;
  display: block;
}
.header_fullScreen_menu_head-exit:before {
  transform: rotate(230deg);
}
.header_fullScreen_menu_head-exit:after {
  transform: rotate(-230deg);
}
.header_fullScreen_menu > ul {
  height: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start !important;
      align-items: flex-start !important;
  padding: 39px 64px;
}
.header_fullScreen_menu > ul > li {
  margin-left: 0 !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  height: 87px;
  width: 100%;
  border-bottom: 1px solid #E6E7E9;
}
.header_fullScreen_menu > ul > li > a {
  font-size: 16px;
}
.header_fullScreen_menu_head {
  display: none;
}
.header_fullScreen_menu .header_fullScreen_menu_head {
  display: block;
  width: 100%;
  height: 52px;
}
.header_fullScreen_menu_numeric {
  display: none !important;
}
.header_fullScreen_menu .header_fullScreen_menu_numeric {
  display: block !important;
}
.header_fullScreen_menu .flex-numeric {
  margin-bottom: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'MyInter', serif;
}
body {
  background-color: #F6F5F8;
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 64px;
  padding-right: 64px;
  margin: 0 auto;
}
:root {
  --main_color-black: #000F1D;
  --main_color-white: #FFFFFF;
  --main_color-blue: #0085FF;
}
.btn-mini {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
}
.btn-big {
  text-align: center;
  border-radius: 16px;
  padding: 53px 40px 50px 32px;
  max-width: 190px;
  line-height: 24px;
  width: 100%;
  height: 148px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: var(--main_color-white);
  cursor: pointer;
}
.btn-big_title {
  display: block;
}
.btn-mini-white {
  border: 1px solid #E6E7E9;
  box-shadow: 0 1px 1px 0 #0000000F;
  color: var(--main_color-black);
  transition: .2s linear;
  background: var(--main_color-white);
}
.btn-mini-blue {
  background: var(--main_color-blue);
  transition: .2s linear;
}
.btn-mini-white:hover {
  background: #F5F6F6;
}
.btn-mini-blue:hover {
  color: white;
  background: #339DFF;
}
.btn-mini-blue:active {
  color: white;
  background: #1272CC;
}
.color-black {
  color: var(--main_color-black);
}
.color-white {
  color: var(--main_color-white);
}
.mt-section-120 {
  margin-top: 120px;
}
.home-title {
  font-weight: 500;
  font-size: 76px;
  /*font-size: 5.1em;*/
}
.flex-numeric {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.numeric-section {
  width: 54px;
  height: 54px;
  border: 2px solid #E6E7E9;
  border-radius: 100%;
  padding: 14px 16px 14px 16px;
  margin-right: 24px;
  position: relative;
}
.numeric-section-white {
  border: 2.1px solid #FFFFFF1A
}
.numeric-section:before, .numeric-section-white:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 2px solid transparent;
  border-top-color: black;
  border-radius: 50%;
  box-sizing: border-box;
  transform: rotate(45deg);
}
.numeric-section-white:before {
  border-top-color: white;
}
.title-section {
  position: relative;
  font-weight: 500;
  line-height: 46px;
  /*font-size: 4.2em;*/
  font-size: 42px;
}
.little-title-section {
  font-size: 20px;
  /*font-size: 2em;*/
  line-height: 28px;
}
.little-text {
  font-size: 16px;
  /*font-size: 1.6em;*/
}
.borderB-white {
  border: 1px solid var(--main_color-white);
}
.borderB-black {
  border: 1px solid #000F1D;
}
.border-section {
  margin: 64px 0;
  width: 100%;
  height: 1px;
}
.mt-48 {
  margin-top: 48px;
}
.mt-24 {
  margin-top: 24px;
}
.mr-8 {
  margin-right: 8px;
}
.mt-64 {
  margin-top: 64px;
}
.ml-26 {
  margin-left: 26px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-57 {
  margin-bottom: 57px;
}
.mt-12 {
  margin-top: 12px;
}
.mr-24 {
  margin-right: 24px;
}
.mt-16 {
  margin-top: 16px;
}
.mb-105 {
  margin-bottom: 105px;
}
.m-0 {
  margin: 0;
}
.ml-32 {
  text-align: left;
  margin-left: 32px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-70 {
  margin-top: 70px;
}
.product-cart {
  border-radius: 16px;
  padding: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
}
.m-center {
  margin: 0 auto;
}
.text-right {
  text-align: right;
}
.paragraph-section-text {
  padding-left: 2.7em;
  position: relative;
  display: block;
}
.client-cart {
  background: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  -ms-flex-pack: inherit;
      justify-content: inherit;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  height: 326px;
  padding: 23px;
  border-radius: 16px;
  border: 1px solid #E6E7E9;
}
.main-line {
  position: relative;
  left: 4px;
  top: -4px;
  display: block;
  width: 32px;
  height: 1px;
  transform: rotate(-62deg);
  border: 1px solid #000F1D;
  margin-right: 21px;
}
.main-line_white {
  border: 1px solid var(--main_color-white);
}
.max-width-none {
  max-width: none;
}
.blue-section {
  background: #0085FF;
  border-radius: 30px;
}
.border-section-mini {
  margin: 48px 0 44px 0;
}
.border-section-middle {
  margin: 64px 0 48px 0;
}
.hover-text {
  transition: .2s linear;
}
.hover-text:hover {
  color: #339DFF;
}
.hover-text:active {
  color: #1272CC;
}
.blue-text {
  color: var(--main_color-blue);
}
.ml-left {
  margin-left: 8px;
}
.footer-bgi {
  background: #DBDEE9;
  border-radius: 30px;
}
.table_and_phone_platform-btn {
  display: none;
}
.desktop_platform-btn {
  display: block;
}
@media all and (max-width: 1439px) {
  body {
    font-size: 9px;
  }
  .cfi_section-ps {
    /*margin-left: -200px;*/
  }
}
@media all and (max-width: 1345px) {
  header {
    font-size: 8px;
  }
}
@media all and (max-width: 1269px) {
  .animate_5 > .animate_figure-blue,
  .animate_5 > .animate_figure-whiteBig,
  .animate_5 > .animate_figure-white,
  .animate_4 > .animate_figure-blue,
  .animate_4 > .animate_figure-whiteBig,
  .animate_4 > .animate_figure-white,
  .animate_3 > .animate_figure-blue,
  .animate_3 > .animate_figure-whiteBig,
  .animate_3 > .animate_figure-white,
  .animate_2 > .animate_figure-blue,
  .animate_2 > .animate_figure-whiteBig,
  .animate_2 > .animate_figure-white,
  .animate_1 > .animate_figure-blue,
  .animate_1 > .animate_figure-whiteBig,
  .animate_1 > .animate_figure-white,
  .animate_0 > .animate_figure-blue,
  .animate_0 > .animate_figure-whiteBig,
  .animate_0 > .animate_figure-white {
    animation: none;
  }
  #animate_figure {
    overflow: hidden;
    position: absolute;
  }
  body {
    cursor: auto;
  }
  .why_cfi_content,
  .client_section_content,
  .advantages_section_wrapper,
  .howWorks_section_content,
  .product_section_content,
  .tarif_section_content,
  .footer_wrapper_content {
    max-width: 633px;
  }
  .product_section_content_item_content_title {
    min-height: 318px;
    margin-right: 0;
  }
  .footer_develop_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-flex-pack: justify;
        justify-content: space-between;
    grid-template-areas: "one two" "one three";
    row-gap: 24px;
  }
  .footer:after {
    right: 0;
  }
  .footer_develop_wrapper_policy {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
    grid-area: one;
    height: 100%;
  }
  .footer_develop_wrapper_policy_cookie {
    margin-left: 0;
  }
  .footer_develop_wrapper_logoText {
    grid-area: two;
    text-align: right;
  }
  .footer_develop_wrapper_rnd {
    -ms-flex-pack: normal;
        justify-content: normal;
    grid-area: three;
  }
  .footer_wrapper_content_page_up {
    margin-top: 0;
  }
  .footer_wrapper_content {
    padding: 32px;
  }
  .footer_wrapper_content_feedback {
    margin-left: 0;
  }
  .footer_wrapper_content_subtitle {
    -ms-flex-align: baseline;
        align-items: baseline;
    -ms-grid-columns: 330px auto;
        grid-template-columns: 330px auto;
  }
  .footer_wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .footer_wrapper_addresses_content {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
        align-items: flex-end;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .footer_wrapper_content_page_up > img {
    height: 50px;
    width: 50px;
  }
  .footer_wrapper_content {
    padding: 24px;
  }
  .footer_wrapper_addresses {
    -ms-flex-order: 1;
        order: 1;
    width: 100%;
  }
  .product-cart {
    width: 100%;
  }
  .advantages_section_card-title {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto 307px;
        grid-template-columns: 1fr auto 307px;
    -ms-flex-align: baseline;
        align-items: baseline;
  }
  .tarif_section_content_item {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .tarif_section_content_item_wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-flex-pack: normal;
        justify-content: normal;
    column-gap: 24px;
  }
  .tarif_section_content_item_wrapper_item {
    max-width: none;
  }
  .product_section_content_item_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px auto;
        grid-template-columns: 300px auto;
    column-gap: 54px;
  }
  .product_section_content_item_content ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    height: 100%;
  }
  .client_section_content_flex {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .client-cart:last-child,
  .client-cart:nth-last-child(2),
  .client-cart {
    -ms-grid-column: auto;
        grid-column: auto;
  }
  .client-cart:last-child {
    -ms-grid-column: span 2;
        grid-column: span 2;
  }
  .howWorks_section_content_slide > img {
    max-width: 306px;
    min-height: 500px;
    border-radius: 22px;
  }
  .ml-32 {
    margin-left: 20px;
  }
  /*.swiper-button-next {*/
  /*  margin-top: -17px;*/
  /*}*/
  .howWorks_section_content_slide_info {
    position: relative;
    top: -25px;
    padding: 15px;
  }
  .swiper-button-prev {
    left: auto;
    /*margin-top: -17px;*/
    right: 70px;
  }
  .mt-section-120 {
    margin-top: 100px;
  }
  .title-section {
    font-size: 30px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .animate_figure-blue {
    right: 0;
  }
  .header_nav {
    -ms-flex-order: 1;
        order: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: end;
        justify-content: flex-end;
    margin-left: 0;
  }
  .header_nav_burger {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
  }
  .header_nav:before,
  .header_nav:after {
    content: none;
  }
  .header_nav_wrapper {
    display: none;
  }
  .footer_wrapper_content_subtitle {
    margin-top: 52px;
  }
  .footer_numeric {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .footer_numeric-img {
    margin-top: 250px;
  }
  .tarif_section_content_item_title {
    margin-bottom: 24px;
  }
  .mt-80,
  .mt-64 {
    margin-top: 52px;
  }
  .mt-12 {
    margin-top: 16px;
  }
  .client_section,
  .product_section,
  .footer {
    padding: 100px 20px;
  }
  .howWorks_section {
    padding-top: 0;
  }
  .tarif_section_content_item_wrapper_item {
    min-height: 233px;
  }
  .product_section_content_item_content {
    margin-top: 24px;
  }
  .border-section-mini {
    margin: 52px 0;
  }
  .client-cart {
    -ms-flex-pack: justify;
        justify-content: space-between;
    min-height: 342px;
  }
  .advantages_section_card_content_item-title {
    /*margin-bottom: 35px;*/
    margin-bottom: 0;
  }
  .advantages_section_card_content_item {
    /*min-height: 262px;*/
    min-height: 240px;
    /*height: 100%;*/
    margin-top: 24px;
  }
  .title-section {
    line-height: 33px;
  }
  .little-title-section {
    font-weight: 600;
  }
  .border-section {
    margin: 52px 0;
  }
  .little-text {
    line-height: 24px;
  }
  .advantages_section_card_content_item-text {
    -ms-flex-direction: column;
        flex-direction: column;
    line-height: normal;
    position: relative;
    top: 15px;
  }
  .advantages-title-section {
    font-size: 14px;
    line-height: 18px;
  }
  .advantages_section_card_content_item-text-pref {
    top: 0;
    font-size: 20px;
  }
  .why_cfi_content_table-text {
    margin-top: 0;
  }
  .why_cfi_content_table-text-line {
    left: -4px;
    top: -5px;
  }
  .mt-48 {
    margin-top: 32px;
  }
  .advantages_section_card {
    margin-top: 52px;
  }
  .howWorks_section_content_slide > p {
    margin-left: 20px;
  }
  .ml-left {
    margin-left: 23px;
  }
  .footer_wrapper_content > .title-section {
    max-width: 570px;
  }
}
@media all and (max-width: 1023px) {
  @keyframes moveRight {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    80% {
      transform: translateX(300px);
      opacity: 1;
    }
    90% {
      transform: translateX(300px);
      opacity: 1;
    }
    95% {
      transform: translateX(300px);
      opacity: 1;
    }
    100% {
      transform: translateX(300px);
      opacity: 0;
    }
  }
  .cfi_section_subtitle > .animate_gif {
    max-width: 295px;
  }
  .cfi_section-ps {
    left: 0;
    margin-left: 38px;
    margin-bottom: 52px;
    max-width: none;
  }
  .cfi_section-ps > span {
    max-width: 260px;
    position: relative;
    left: -6em;
  }
}
@media all and (max-width: 929px) {
  .advantages_section_card-title {
    -ms-grid-columns: 375px auto 307px;
        grid-template-columns: 375px auto 307px;
  }
  @keyframes moveRight {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    80% {
      transform: translateX(290px);
      opacity: 1;
    }
    90% {
      transform: translateX(290px);
      opacity: 1;
    }
    95% {
      transform: translateX(290px);
      opacity: 1;
    }
    100% {
      transform: translateX(290px);
      opacity: 0;
    }
  }
  .cfi_section_subtitle > .animate_gif {
    max-width: 289px;
  }
  .home-title {
    font-size: 58px;
  }
  .client_section,
  .howWorks_section,
  .tarif_section {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .why_cfi,
  .advantages_section,
  .product_section,
  .footer {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .paragraph-section-text {
    padding-left: 0;
  }
  .title-section {
    max-width: 610px;
  }
  .footer {
    overflow: hidden;
  }
  .footer_numeric-img {
    position: absolute;
    margin-left: 56px;
    bottom: -70px;
  }
  .why_cfi_content,
  .client_section_content,
  .advantages_section_wrapper,
  .howWorks_section_content,
  .product_section_content,
  .tarif_section_content,
  .footer_wrapper_content {
    max-width: none;
  }
  .howWorks_section_content_slide > img {
    max-width: 351px;
  }
  .table_and_phone_platform-btn {
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .desktop_platform-btn {
    display: none;
  }
  .cfi_section_subtitle {
    margin-top: 0;
  }
  .cfi_section_subtitle > .animate_gif {
    /*display: none;*/
  }
  .cfi_section-ps {
    margin-left: -10px;
  }
  .cfi_section-img {
    width: 100vw;
    margin-left: -20px;
  }
  .cfi_section-ps > span {
    max-width: none;
    left: 0;
  }

  .flex-numeric {
    margin-bottom: 52px;
  }
  .flex-numeric > span {
    font-weight: 600;
  }
  .table_and_phone_platform-btn {
    margin-top: 52px;
  }
  .btn-big {
    max-width: 351px;
    width: 100%;
    height: 124px;
  }
  .advantages_section_card-title {
    -ms-grid-columns: 375px auto auto;
        grid-template-columns: 375px auto auto;
  }
  .product_section_content_item_content_title {
    min-height: 246px;
  }
  .product-cart > .little-text {
    font-size: 14px;
  }
  .footer_wrapper_content > .title-section {
    max-width: 550px;
  }
  .footer_wrapper_content .paragraph-section-text {
    display: inline;
  }
  .footer_wrapper_content_line:before {
    width: 9em;
    right: auto;
    left: auto;
  }
  .footer_numeric-img {
    display: none;
  }
  .footer_wrapper_content {
    padding: 32px;
  }
  .footer:before {
    left: 45px;
    top: 80px;
  }
  .footer:after {
    right: -112px;
    top: 176px;
  }
  .header_fullScreen_menu > ul {
    padding: 32px;
  }
}
@media all and (max-width: 767px) {
  .cfi_section_subtitle > .animate_gif {
    display: none;
  }
  .cfi_section-ps {
    -ms-flex-pack: start;
        justify-content: flex-start;
    margin-left: 0;
    left: 0;
  }
}
@media all and (max-width: 705px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -13px;
  }
  .howWorks_section_content_slide > p {
    margin-left: 0;
  }
  .howWorks_section_content_slide {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .howWorks_section_content_slide > img {
    -ms-flex-order: 1;
        order: 1;
    /*max-width: none;*/
    height: auto;
  }
  .swiper-pagination {
    margin-bottom: 5px;
  }
  .howWorks_section_content_slide {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .howWorks_section_content_slide > .ml-32 {
    margin-left: 0;
  }
  .swiper-wrapper {
    -ms-flex-align: end;
        align-items: flex-end;
  }
}
@media all and (max-width: 639px) {
  .client-cart:last-child {
    -ms-grid-column: auto;
        grid-column: auto;
  }
  .header_fullScreen_menu > ul {
    padding: 24px;
  }
  .header {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .cfi_section-img {
    margin-left: -13px;
  }
  .advantages_section_card_content_item-text-pref {
    top: -10px;
  }
  .product_section_content_item-title-text {
    font-weight: 500;
  }
  .howWorks_section_content_slide > img {
    scale: 1;
  }
  .tarif_section_content_item_title {
    width: 100%;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
  .animate_figure-whiteBig {
    display: none;
  }
  .client_section_content_flex {
    gap: 20px;
  }
  .client_section_content_flex,
  .product_section_content_item_content,
  .product_section_content_item_content_noCard {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .advantages_section_card_content,
  .advantages_section_card_content-two,
  .tarif_section_content_item_wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .product_section_content_item-title {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .footer_develop_wrapper {
    grid-template-areas: "one one" "two three";
    row-gap: 32px;
  }
  .product_section_content_item_content_title {
    min-height: 0;
  }
  .footer_develop_wrapper_policy_cookie {
    margin-top: 24px;
  }
  .footer:after {
    transform: rotate(-14deg);
    transition: revert;
    right: -122px;
    top: -33px;
    scale: .4;
  }
  .footer:before {
    transform: translateX(-61%);
    left: 21%;
    top: -65px;
    scale: .6;
  }
  .footer_develop_wrapper_policy {
    -ms-flex-align: center;
        align-items: center;
  }
  .footer_numeric-img {
    display: block;
  }
  .footer_numeric-img > img {
    height: 128px;
    margin-left: 40px;
  }
  .tarif_section_content_item_wrapper_item {
    margin-bottom: 20px;
  }
  .product-cart {
    -ms-flex-align: normal;
        align-items: normal;
  }
  .footer_wrapper_content_subtitle {
    width: 100%;
    -ms-flex-align: center;
        align-items: center;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
  .product_section_content_item_content ul {
    margin-left: 20px;
  }
  .product_section_content_item_content_noCard > .ml-left {
    margin-left: 20px;
  }
  .advantages_section_card_content_item {
    margin-top: 0;
    max-width: none;
    min-height: 180px;
  }
  .advantages_section_card_content-two > .advantages_section_card_content_item {
    min-height: 180px;
  }
  .advantages_section_card-title {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    margin-bottom: 20px;
  }
  .advantages_section_card_content_item:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-right: none;
    border-bottom: 1px solid #E6E7E9;
  }
  .advantages_section_card_content_item:last-child {
    border-radius: 0 0 16px 16px;
    border-left: none;
    border-top: 1px solid #E6E7E9;
  }
  .header_fullScreen_menu_head-exit {
    margin-top: 12px;
    margin-right: 12px;
  }
  .advantages_section_card_content_item-text {
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .btn-big {
    max-width: none;
  }
  .why_cfi_content_table_wrapper {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .header_platform {
    display: none;
  }
  .home-title {
    font-size: 42px;
  }
  .client-cart {
    height: auto;
    min-height: 248px;
  }
  .client-cart > img {
    margin-top: 12px;
    height: 160px;
  }
  .title-section {
    line-height: 26px;
    font-size: 24px;
  }
  /*/////// mobil////*/
  .blue-section {
    border-radius: 20px;
  }
  .mt-section-120 {
    margin-top: 80px;
  }
  .cfi_section-ps,
  .flex-numeric {
    margin-bottom: 40px;
  }
  .flex-numeric > span {
    font-weight: 500;
  }
  .border-section,
  .border-section-mini,
  .border-section-middle {
    margin: 40px 0;
  }
  .why_cfi_content_table-textLeft {
    margin-top: 12px;
  }
  .btn-big {
    height: 121px;
    margin-top: 40px;
  }
  .client_section,
  .product_section,
  .footer {
    padding: 80px 12px;
  }
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
  .advantages_section_card {
    margin-top: 40px;
  }
  .advantages_section_card-title-text {
    margin-bottom: 12px;
  }
  .advantages_section_card-title:last-child,
  .tarif_section_content_item_wrapper_item:last-child {
    margin-bottom: 0;
  }
  .howWorks_section_content_slide > p {
    margin-bottom: 24px;
  }
  .mt-64,
  .mt-80,
  .footer_wrapper_content_subtitle {
    margin-top: 40px;
  }
  .product-cart,
  .product_section_content_item-title {
    margin-bottom: 20px;
  }
  .footer_wrapper_content {
    padding: 32px 24px;
  }
  .footer_wrapper_content_line:before {
    content: none;
  }
  .footer_numeric-img > img {
    position: relative;
    z-index: -1;
  }
  .client_section_content > .color-white {
    font-weight: 700;
  }
}
@media all and (max-width: 493px) {
  .howWorks_section-pagination {
    margin-top: 80px;
  }
  .swiper-pagination {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 354px) {
  .footer_wrapper_content_page_up {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
